POSTGRES_DB=shop
POSTGRES_USER=shop_user
POSTGRES_PASSWORD=shop_password

# For docker compose - fill one of the connection string formats:
# PostgreSQL: Host=postgres;Port=5432;Database=shop;Username=shop_user;Password=shop_password
ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=shop;Username=shop_user;Password=shop_password

JWT_KEY=change_me_with_very_long_secret
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
