Jwt__Key=
Jwt_ISSUER=ShoppingApi
Jwt_AUDIENCE=ShoppingApi
JWT__EXPIRATIONMINUTES=60

Cloudinary__CloudName=
Cloudinary__ApiKey=
Cloudinary__ApiSecret=

ConnectionStrings__DefaultConnection=
SuperAdmin__Email=
SuperAdmin__Password=